<p id="notice"><%= notice %></p>

<h1><%= @article.name %></h1>
<% if @article.name == "Bio"%>
  <%= render 'bio_pic'%>
<% end %>
<div id= "#{@article.name}">
  <p>
    <%= raw @article.body %>
  </p>
</div>