<div id="article_content">
  <h1><%= @article.name %></h1>
  <% if @article.name == "Bio"%>
    <%= render 'bio_pic'%>
  <% end %>

  <div id= "<%= @article.name%>">
    <%= raw @article.body %>
 </div>
</div>
