<li>
  <%= artwork.name %>
  <%= link_to 'Show', artwork %>
  <%= link_to 'Edit', edit_artwork_path(artwork) %>
  <%= link_to 'Destroy', artwork, :confirm => 'Are you sure?', :method => :delete %>
</li>