<p><%= link_to 'New Artwork', new_artwork_path %></p>

<a href="#" class="switch_thumb">Switch Thumb</a>
<ul class="display">
<% @artworks.each do |artwork| %>
  <li>
    <div class="content_block">
      <a href="#"><%= image_tag artwork.photo.url(:thumb) %> </a>
      <h2><%= artwork.name %> </h2>
      <p>Description goes here</p>
    </div>
  </li>
<% end %>  
</ul>