/* Biot Pic*/
#bio_pic {
  background: url(/images/dan.png);
  float: left;
  width: 402px;
  height: 604px;
}

#Bio {
  float: right;
  padding-left: 5px;
  margin-left: 5px;
}

#article_content {
  float: left;
}

h1 {
  font: normal 320%/100% Georgia, "Times New Roman", Times, serif;
  margin: 20px 0 5px 10px;
  letter-spacing: -2px;
}

#container {
  width: 975px;
  margin: auto;
}

#header {
  padding-bottom: 90px;
}

/* Gallery styling */
.photo {
  margin: 30px;
  position: relative;
  width: 180px;
  height: 130px;
  float: left;
}

.photo span {
  width: 20px;
  height: 18px;
  display: block;
  position: absolute;
  top: -12px;
  left: 90px
  background: url(image.gif) no-repeat;
}

/* Top Nav */
ul#topnav {
	margin: 0; padding: 0;
	float: left;
	width: 970px;
	list-style: none;
	position: relative; /*--Set relative positioning on the unordered list itself - not on the list item--*/
	font-size: 1.2em;
	background: url(/images/topnav_stretch.gif) repeat-x;
}
ul#topnav li {
	float: left;
	margin: 0; padding: 0;
	border-right: 1px solid #555; /*--Divider for each parent level links--*/
}
ul#topnav li a {
	padding: 10px 15px;
	display: block;
	color: #f0f0f0;
	text-decoration: none;
}
ul#topnav li:hover { background: #1376c9  }

ul#topnav li span {
	float: left;
	padding: 15px 0;
	position: absolute;
	left: 0; top:35px;
	display: none; /*--Hide by default--*/
	width: 970px;
	background: #1376c9;
	color: #fff;
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

ul#topnav li:hover span { display: block; } /*--Show subnav on hover--*/
ul#topnav li span a { display: inline; } /*--Since we declared a link style on the parent list link, we will correct it back to its original state--*/
ul#topnav li span a:hover {text-decoration: underline; background: #1376c9;}

#horizontalnav {
	float: left;
	padding-bottom: 50px;
	width: 970px;
	position: relative;
}

/*Image swap */
a.switch_thumb {
background:url("/images/switch.gif") no-repeat scroll 0 0 transparent;
display:block;
height:26px;
line-height:26px;
margin:10px 0;
outline:medium none;
padding:0;
text-indent:-9999px;
width:122px;
}
a.switch_thumb:hover {
opacity:0.75;
}
a.swap {
background-position:left bottom;
}

ul.display {
background:none repeat scroll 0 0 #222222;
border-right:1px solid #333333;
border-top:1px solid #333333;
float:left;
list-style:none outside none;
margin:0;
padding:0;
width:756px;
}
ul.display li {
border-color:#111111 #111111 #333333 #333333;
border-style:solid;
border-width:1px;
float:left;
margin:0;
padding:10px 0;
width:754px;
}
ul.display li a {
color:#E7FF61;
text-decoration:none;
}
ul.display li .content_block {
padding:0 10px;

}
ul.display li .content_block h2 {
font-size:1.7em;
font-weight:normal;
margin:0;
padding:5px;

}
ul.display li .content_block p {
font-size:1.2em;
margin:0;
padding:5px 5px 5px 245px;
}
ul.display li .content_block a img {
background:none repeat scroll 0 0 #FFFFFF;
border:2px solid #CCCCCC;
float:left;
margin:0 15px 0 0;
padding:5px;
}
ul.thumb_view li {
width:250px;
}
ul.thumb_view li h2 {
display:inline;
}
ul.thumb_view li p {
display:none;
}
ul.thumb_view li .content_block a img {
margin:0 0 10px;
}
.artwork {
  width: 120px;
  margin: auto;
}
