<div id="header">
<h1>Daniel Weissbrodt</h1>
<% cache (:header) do %>
  <ul id="topnav">
    <li><%= link_to "Home", root_path %>  </li>
    <li>
        <%= link_to 'Artwork', artworks_path %>
        <!--Subnav Starts Here-->
        <span>
        	<% @galleries = Gallery.all %>
            <% @galleries.each do |gallery|%>
			  <%= link_to "#{gallery.name}", gallery %>|
			<% end %>
        </span>
        <!--Subnav Ends Here-->
    </li>
    <% @articles = Article.all %>
    <% @articles.each do |article| %>
      <li><%= link_to "#{article.name}", article %></li>
    <% end %>
  </ul>
<% end %>
</div>