<h1>Daniel Weissbrodt</h1>
<div id="navigation">
  <ul>
  	<li><%= link_to 'Home', artworks_path %></li>
  	<li><%= link_to 'Portfolio', artworks_path %></li>
  	<li><%= link_to 'Artwork', artworks_path %></li>
  </ul>
</div>